/* 
* jQuery Flight Indicators plugin
* By Sébastien Matton (seb_matton@hotmail.com)
* Published under GPLv3 License.
* 
* https://github.com/sebmatton/jQuery-Flight-Indicators
*/

/* Global block of an indicator*/
div.instrument {
  width: 500px;
  height: 500px;
  *position: relative;
  display: inline-block;
  overflow: hidden;
}

/* The box containing any element of an indicator */
div.instrument .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Default transformations */

div.instrument.attitude div.roll {
  transform: rotate(0deg);
}
div.instrument.attitude div.roll div.pitch {
  top: 0%;
}
div.instrument.heading div.yaw {
  transform: rotate(0deg);
}
div.instrument.vario div.vario {
  transform: rotate(0deg);
}
div.instrument.speed div.airspeed {
  transform: rotate(90deg);
}
div.instrument.altimeter div.pressure {
  transform: rotate(40deg);
}
div.instrument.altimeter div.needle {
  transform: rotate(90deg);
}
div.instrument.altimeter div.needleSmall {
  transform: rotate(90deg);
}

/* Afficheur numérique pour heading - Style identique au valueBox Canvas Gauge (speedGauge) */
div.instrument.heading .heading-value-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 5px));
  /* Style identique au valueBox de Canvas Gauge */
  background: #babab2;
  color: #444;
  /* Font identique à Canvas Gauge (gauge.js) - police "Led" = digital-7-mono */
  font-family: 'Led', 'Digital-7 Mono', 'Courier New', monospace;
  font-size: 30px;
  font-weight: normal;
  /* Taille réduite pour correspondre au valueBox de speedGauge */
  min-width: 65px;
  height: 28px;
  line-height: 28px;
  padding: 0 6px;
  border-radius: 4px;
  border: none;
  z-index: 100;
  text-align: center;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5);
}
