<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>test transition menu droit</title>

        <link href="../css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../css/leaflet/leaflet.css" rel="stylesheet" type="text/css"/>
        <link href="../css/style.css" rel="stylesheet" type="text/css"/>        
        <link href="../css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="../css/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css"/>
        
        <script src="../scripts/jquery-1.12.3.min.js" type="text/javascript"></script>       
        <script src="../scripts/nav/leaflet/leaflet.js" type="text/javascript"></script>
        <script src="../css/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>        
              
        <script src="../scripts/nav/layerMarkerBase.js" type="text/javascript"></script>
        <script src="../scripts/nav/layerMarkerPlane.js" type="text/javascript"></script>
    </head>
    <body>
        <div class ="div_container_map" >
            <div id="mapid" class ='map'>
                <script src="../scripts/nav/initCarte.js" type="text/javascript"></script>
                
            </div>

            <div id="data_nav" class ='data_nav'> 
                <ul class="info">
                    <li class='dataTex'><div style="display:inline-block;width:80px;margin-right:2px" >Altitude</div> : <span id="altitude" class='dataVal'>999</span></li>
                    <li class='dataTex'><div style="display:inline-block;width:80px">Cap</div> : <span id="cap" class='dataVal' >999</span></li>
                    <li class='dataTex'><div style="display:inline-block;width:80px">Vitesse sol</div> : <span id="VitesseSol" class='dataVal' >999</span></li> 
                    <li class='dataTex'><div style="display:inline-block;width:80px">Distance total</div> : <span id="DistanceTotal" class='dataVal'>999</span></li>                    
                    <li class='dataTex'><div style="display:inline-block;width:80px">Temps total</div> : <span id="Tp_Total" class='dataVal' >999</span></li>
                    <li class='dataTex'><div style="display:inline-block;width:80px">Distance rest.</div> : <span id="DistanceRest" class='dataVal'>999</span></li>
                    <li class='dataTex'><div style="display:inline-block;width:80px">Temps rest.</div> : <span id="Tp_restant" class='dataVal'>999</span> </li>
                </ul>
            </div>
        </div>

        <div class ="div_menu" id="div_menu">
            <div class=" div_btn_Menu " role="group" aria-label="center Align">
                <button id="btn_home"><i class="btn_menu fa fa-home fa-3x" aria-label="Left Align"></i></button>
                <button id="btn_instr" ><i class="btn_menu fa fa-tachometer fa-3x" aria-label="Left Align"></i></button> 
                <button id="btn_editNav"><i class="btn_menu fa fa-list fa-3x" aria-label="Left Align"></i></button>
                <button id="btn_search"><i class="btn_menu fa fa-search-plus fa-3x" aria-label="Left Align"></i></button>
                <button id="btn_recNav"><i class="btn_menu fa fa-history fa-3x" aria-label="Left Align"></i></button>
                <button id="btn_goBack"><i class="btn_menu fa fa-refresh fa-3x" aria-label="Left Align"></i></button>
                <button id="btn_param"><i class="btn_menu fa fa-cogs fa-3x" aria-label="Left Align"></i></button>
            </div>
            <i  id= "btn_fleche_menu" class="btn_fleche_menu fa fa-angle-double-left fa-3x" aria-label="Left Align"></i>
        </div>

        <script src="../scripts/event.js" type="text/javascript"></script>

    </body>
</html>

